/* GENERAL */
body,
html {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
body * {
    margin: 0;
    padding: 0;
}

/* CLASES COMUNES */
.bg-color-nav {
    background-color: rgba(38, 155, 164, 0.9);
}
.bg-color {
    background-color: #269BA4;
}

/* NAVBAR */
.nav-logo {
    width: 2rem;
}
.card {
    padding: 0;
}
.under{
    text-decoration: underline;
}


/* HEADER */
header {
    margin-top: 55px;
}

/* SECCION DESTACADOS */
.contenedor-img {
    height: 60%;
}
.card-img-top {
    height: 100%;
}
.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

@media (min-width: 720px) {
    .contenedor-img {
        height: 50%;
    }
    .card {
        width: calc((100% / 2) - 20px)
    }
}

@media (min-width: 1140px) {
    .card {
        width: calc((100% / 4) - 20px)
    }
}

/* FOOTER */
footer i {
    font-size: 25px;
}